.dart_tool/
.dart-tool/
.dartServer/
.pub-cache/
Dart/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

android/.gradle/
android/build/

ios/.symlinks/
ios/Pods/
ios/.generated/
ios/Flutter/

example/.dart_tool/
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/.packages
example/build/
example/pubspec.lock
